.sidebar {
    top: 83px;
    left: 0;
    background-color: #37A6F5;
    position: fixed;
    display: flex;
    width: 230px;
    height: 100%;    
    &-content {
        a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 5px 15px;
        }
    }
}