.header {
    text-align: center;
    background: #f58637;
    margin: 0;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}