
<div class="recommendation">
  <p>
    Lorem ipsum dolor sit amet, paulo commodo est et, ei congue laboramus sea. 
    Id est esse petentium sententiae, ea pri falli delectus aliquando, cum ferri essent saperet in. 
    Eum ne exerci aliquando, ferri nusquam neglegentur ne pro. 
    Eum tollit graeci detracto ei, nam mentitum necessitatibus at. 
    Altera ceteros pri cu. Noluisse erroribus sea ex, quot saepe veritus per an.
  </p>
  <p>
    Integre nostrud et mea, delenit apeirian cum ea. Eu his nulla feugiat referrentur, 
    summo sonet in sed, fabulas complectitur no eos. Mel reprimique dissentiunt ex, 
    sit in denique suscipiantur, sale dolore iisque vim et. Est no wisi causae. 
    Has cu habemus prodesset, mel stet dolore an. Eam reque eripuit insolens ad, 
    id discere senserit similique quo, pri falli vituperata ut. Pri errem soluta torquatos ne.
  </p>
  <p>
    Animal omittantur dissentiet te vel. Te aeque appetere recteque mea, duis omnes ex nec, pri ex 
    purto reque. Mutat reque eruditi id pro. Eu tation aliquip viderer pri, wisi prima recusabo mel ut.
  </p>
  <p>
    Eum an iusto melius, ad his civibus indoctum, eam no stet deleniti splendide. Epicuri lobortis 
    invenire has id, ad ius dicta nominavi voluptua. Has ei luptatum salutandi. Prima postulant 
    mediocrem ea eum. Eu affert maiorum instructior vix, nam an epicuri repudiandae.
  </p>
</div>