<div class="card-inner">
  <div class="card-info">
    <img class="image" [src]="book.image ? book.image : 'assets/images/no_image_available.png'" [alt]="book.name">
    <p class="card-info-name">{{ book.name }}</p>
    <p class="card-info-author">{{ book.author }}</p>
  </div>
  <div class="actions">
      <button class="btn-edit" (click)="openModal('edit-modal'); selectBook();">Редактировать</button>
      <button class="btn-delete" (click)="openModal('delete-modal'); selectBook();">Удалить</button>
  </div>
</div>
