.bookshelf {
    margin-left: 240px;
    padding-top: 100px;
    .add-element {
        margin: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        label {
            flex: 0 0 200px;
            margin: 5px;
            input {
                width: 200px;
            }
            
        }
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    app-pagination {
        display: flex;
        justify-content: center;
    }
}
