.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    .modal-body {
        padding: 20px;
        background: #fff;
        max-width: 600px;
        margin: 30px auto;
    }
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;     
    z-index: 900;
}