.header {
    text-align: center;
    background: #f58637;
    margin: 0;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.el-per-page {
    text-align: center;
    margin: 15px;
    label {
        font-size: 16px;
    }
    input {
        width: 100px;
    }
}

.add-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    label {
        flex: 0 0 200px;
        margin: 5px;
        input {
            width: 200px;
        }
        
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

app-pagination {
    display: flex;
    justify-content: center;
}
