<h1 class="header">Библиотека</h1>

<div class="el-per-page">
  <label>
    Количество записей на страницу:&nbsp;
    <input type="number" min="0" [(ngModel)]="config.elementsPerPage">
  </label>
</div>

<div class="add-element">
  <button (click)="addBook(bookName, bookAuthor, bookYear, bookImageLink)" class="btn-add">+ Добавить</button>
  <label>
    &nbsp;Название книги&nbsp;
    <input type="text" #bookName>
  </label>
  <label>
    &nbsp;Автор&nbsp;
    <input type="text" #bookAuthor>
  </label>
  <label>
    &nbsp;Год издания&nbsp;
    <input type="number" #bookYear>
  </label>
  <label>
    &nbsp;Ссылка на изображение&nbsp;
    <div class="tooltip">
      <input type="text" #bookImageLink>
      <span class="tooltiptext"> Например, https://ozon-st.cdn.ngenix.net/multimedia/1013243806.jpg</span>
    </div>
  </label>
</div>

<div class="cards">
  <div *ngFor="let book of books | pagination: config">
    <app-card [book]="book" (bookSelected)="selectedBook = book"></app-card>
  </div>
</div>

<app-pagination *ngIf="config.elementsPerPage > 0" [id]="config.id" [maxSize]="maxSize" (pageChange)="onPageChange($event)"></app-pagination>

<app-modal-dialog id="edit-modal" style="display: none" class="modal">
  <h3 class="title">Редактировать карточку</h3>
  <div class="modal-info">
    <p>Название книги: </p><input type="text" [ngModel]="selectedBook?.name" (ngModelChange)="selectedBook.name=$event"/>
    <p>Автор: </p><input type="text" [ngModel]="selectedBook?.author" (ngModelChange)="selectedBook.author=$event"/>
    <p>Год издания: </p><input type="text" [ngModel]="selectedBook?.year" (ngModelChange)="selectedBook.year=$event"/>
    <p>Ссылка на изображение: </p><input type="text" [ngModel]="selectedBook?.image" (ngModelChange)="selectedBook.image=$event"/>
  </div>
  <div class="modal-actions">
    <button class="btn btn-edit" (click)="closeModal('edit-modal');">Закрыть</button>
  </div>
</app-modal-dialog>
<app-modal-dialog id="delete-modal" style="display: none" class="modal">
  <p class="title">Удалить карточку <b>{{ selectedBook?.name }}?</b></p>
  <div class="modal-actions">
    <button class="btn btn-cancel" (click)="closeModal('delete-modal')">Отмена</button>
    <button class="btn btn-delete" (click)="closeModal('delete-modal'); removeBook(selectedBook.name);">ОК</button>
  </div>
</app-modal-dialog>
